/* https://github.com/SheepTester/sgy-sgy/blob/master/ig/app/src/app/page.module.css */

.heading {
  font-size: 2em;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.title {
  font-style: normal;
  font-size: 2em;
}
.atUcsd {
  margin-left: auto;
  position: relative;
}
.atUcsd sub {
  font-size: 0.3em;
  position: absolute;
  bottom: 0;
  left: 100%;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .heading {
    font-size: 1.2em;
  }
}

.description {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}
a {
  color: oklch(62.3% 0.214 259.815);
}
a:hover {
  text-decoration: underline;
}

.status {
  border: 1px solid oklch(62.3% 0.214 259.815);
  padding: 20px;
  border-radius: 15px;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  background-color: oklch(62.3% 0.214 259.815 / 10%);
}
